* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Yekan Bakh";
}

#main-page {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

#main-page .swiper {
  width: 100%;
}

.form-input {
  padding: 7px;
  border: none;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.6s ease;
}

a:hover, a:focus {
  color: RED;
}

.btn {
  border: none;
  padding: 5px;
  cursor: pointer;
  color: whitesmoke;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
  background-color: RED;
}

#header {
  width: 100%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  background-color: #faf8f8;
  padding: 0.5rem;
}

#header #top {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#header #top input {
  width: 50%;
}

#header #top #logo {
  max-width: 10%;
  margin: 0 1rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

#header #top #cart {
  width: 15%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
  border-radius: 7px;
  padding: 0 0.5rem;
}

#header #top #cart span {
  margin: 0.3rem;
}

#header #bottom {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

#header #bottom #site-menu {
  width: 75%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#header #bottom #site-menu li {
  margin: 0.2rem 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
  transition: 0.6s ease;
}

#header #bottom #site-menu li i {
  margin: 0.2rem;
}

#header #bottom #site-menu li ul {
  display: none;
}

#header #bottom #site-menu li:hover, #header #bottom #site-menu li:focus {
  color: RED;
  transition: 0.6s ease;
}

#header #bottom #site-menu li:hover ul, #header #bottom #site-menu li:focus ul {
  display: block;
  list-style: none;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
}

#header #bottom #site-menu li:hover ul li, #header #bottom #site-menu li:focus ul li {
  padding: 0.3rem 0.5rem;
}

#header #bottom #site-menu li:hover ul li a i, #header #bottom #site-menu li:focus ul li a i {
  margin-left: 0.3rem;
}

#footer {
  margin: 1rem 0;
  width: 100%;
  border-top: #abacac 2px solid;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
}

#footer #left {
  width: 25%;
  margin: 2rem;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

#footer #left button {
  margin-top: 0.5rem;
}

#footer #right {
  width: 60%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
}

#footer #right ul {
  list-style: none;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 0.5rem 2rem;
  padding: 1rem;
}

#footer #right ul li {
  margin: .3rem 0;
}

#discount {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#discount ul {
  list-style: none;
  margin: 0 0.3rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  align-items: center;
}

#discount ul li {
  width: 24%;
  transition: 0.4s ease;
}

#discount ul li a img {
  width: 100%;
  border-radius: 10%;
}

#discount ul li:hover {
  transform: scale(1.02);
}

#top-slider .swiper-wrapper img {
  width: 100%;
}

#secondswiper {
  margin: 1rem 1rem;
  background: RED;
  border-radius: 7px;
}

#secondswiper #slide {
  height: 300px;
  padding: 0.5rem;
  margin: 1rem 0;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 7px;
}

#secondswiper #slide a {
  width: 100%;
  font-family: "peyda";
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
}

#secondswiper #slide a img {
  max-width: 90%;
  max-height: 65%;
}

#secondswiper #slide a span {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
}

.banner {
  width: 90%;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.banner a {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

.banner a img {
  max-width: 100%;
  border-radius: 10px;
}

.banner:hover, .banner:focus {
  transform: scale(1.007);
}

.product-view {
  width: 100%;
}

.product-view #up {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: start;
  align-items: center;
}

.product-view #up img {
  max-width: 35%;
  border-radius: 7px;
  margin: 1rem;
}

.product-view #up #detail {
  text-align: justify;
  margin: 1rem;
  width: 42%;
  border: #abacac 1px solid;
  border-radius: 7px;
  padding: 2rem;
}

.product-view #up #detail ul {
  margin: 1rem;
}

.product-view #up #detail ul li {
  font-size: large;
}

.product-view #up #buy {
  width: 20%;
  margin: 1rem;
  text-align: center;
  border: 1px #abacac solid;
  border-radius: 7px;
  padding: 1rem;
}

.product-view #up #buy button {
  width: 90%;
}

#cart-view {
  margin: 1.5rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

#cart-view form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

#cart-view .value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  user-select: none;
}

#cart-view .value-button:hover {
  cursor: pointer;
}

#cart-view form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

#cart-view form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

#cart-view form #input-wrap {
  margin: 0px;
  padding: 0px;
}

#cart-view input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

#cart-view input[type=number]::-webkit-inner-spin-button,
#cart-view input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cart-view #left-card {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#cart-view #left-card #image {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#cart-view #left-card #detail {
  width: 50%;
}

#cart-view #left-card #detail ul li {
  color: blue;
}

@media (max-width: 940px) {
  #discount ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
  }
  #discount ul li {
    width: 23%;
  }
  #header #top {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
  }
  #header #top #logo {
    width: 20%;
    padding-right: 1.7rem;
  }
  #header #top input {
    width: 45%;
  }
  #header #top #cart {
    width: 20%;
  }
  #footer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #footer #right {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  #footer #right ul {
    width: 20%;
    margin: .1rem;
    padding: .1rem;
  }
  #footer #left {
    width: 25%;
  }
  #slide {
    height: 80px;
  }
  #slide img {
    width: 90%;
  }
  #slide span {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #discount ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
  }
  #discount ul li {
    width: 32%;
  }
  #header #top {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  #header #top #logo {
    width: 20%;
    padding-right: 1.7rem;
  }
  #header #top input {
    font-size: 12px;
    width: 45%;
  }
  #header #top #cart {
    width: 20%;
  }
  #header #bottom {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
  }
  #header #bottom #site-menu {
    font-size: 12px;
    width: 100%;
  }
  #footer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 10px;
  }
  #footer #right {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  #footer #right ul {
    width: 20%;
    margin: .1rem;
    padding: .1rem;
  }
  #footer #left {
    width: 25%;
  }
  #slide {
    height: 80px;
  }
  #slide img {
    width: 90%;
  }
  #slide span {
    font-size: 12px;
  }
}

@media (max-width: 468px) {
  #discount ul {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
  }
  #discount ul li {
    width: 47%;
  }
  #header #top {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    font-size: 8px;
  }
  #header #top #logo {
    width: 20%;
    padding-right: 1.7rem;
  }
  #header #top input {
    font-size: 8px;
    width: 45%;
  }
  #header #top #cart {
    width: 20%;
  }
  #header #bottom {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
  }
  #header #bottom #site-menu {
    font-size: 8px;
    width: 100%;
  }
  #footer {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 8px;
  }
  #footer #right {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  #footer #right ul {
    width: 20%;
    margin: .1rem;
    padding: .1rem;
  }
  #footer #left {
    width: 25%;
  }
  #slide {
    height: 80px;
  }
  #slide img {
    width: 90%;
  }
  #slide span {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */